.footer-advantages {
  font-family: "nunito sans";
  font-size: 18px;
  font-weight: 400;
}

.footer-advantages img {
  padding: 20px 0px;
}

.footer-advantages h2 {
  margin-bottom: 20px;
}

.footer-advantages h3 {
  font-family: "nunito sans";
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}
