:root {
  --dark-blue: #005564;
  --light-blue: #c0d9d9;
  --green: #a0d187;
  --red: #cf9697;
  --yellow: #fce757;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Nunito Sans";
}

h1,
h2,
h3 {
  font-family: "Francois One";
  font-weight: 400;
}

h1,
h2 {
  font-size: 60px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 120px;
}

h2 {
  color: var(--dark-blue);
  line-height: 85.08px;
}

h3 {
  font-size: 35px;
  text-align: center;
  color: var(--dark-blue);
}
